.gradient{
    color: white;
    background: linear-gradient(50deg, gray, blue);
    animation: movinggradient 10s ease infinite;
    background-size: 200%;
    height: 100vh;
    background-repeat: no-repeat;
}   

@keyframes movinggradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    0%{
        background-position: 0% 50%;
    }
}